<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<div class="page">
	<div class="container">
		{{> header }}

		{{> intro }}
	</div>

	<div class="wrapper-services">
		<div class="container">
			{{> services }}
		</div>
	</div>

	<div class="wrapper-portfolio">
		<div class="container">
			{{> portfolio }}
		</div>
	</div>

	<div class="wrapper-team">
		<div class="container">
			{{> team }}
		</div>
	</div>

	<div class="wrapper-footer">
		<div class="container">
			{{> footer }}
		</div>
	</div>
</div>

<script src="assets/js/app.min.js"></script>

</body>
</html>
