<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<!-- Bonjour le monde -->

<div class="page">
	<section class="section-hero">
		<div class="container">
			{{> header }}
		
			{{> hero }}
		</div>
	</section>

	<section class="section-services">
		<div class="container">
			{{> services }}
		</div>
	</section>

	<section class="section-portfolio">
		<div class="container">
			{{> portfolio }}
		</div>
	</section>

	<section class="section-team">
		<div class="container">
			{{> team }}
		</div>
	</section>

	<section class="section-footer">
		<div class="container">
			{{> footer }}
		</div>
	</section>
</div>

<script src="assets/js/app.min.js"></script>

</body>
</html>